@Model IEnumerable<LeThanhDuc_lab456.Model.Coures>
@{
    ViewBag.Title = "Home Page";
}
   <div class=" row">
       <ul>
           @foreach ( var course in Model )
           {
               <li>
                   @course.DateTime - @course.Lecturer.Name
               </li>
           }
       </ul>
   </div>
 <ul class="course">
    @foreach (var cousre in Model.UpcommingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @cousre.Datetime.ToString("MM")
                </div>
                <div class="day">
                    @cousre.Datetime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @cousre.Lecturer.Name
                    @if (Model.ShowAction)
                    {
                    <button class="btn btn-link btn-sm js-toggle-follow data-user-id=@cousre.LecturerId">Follow</button>
                    }
                </span>
                <span class="category">
                    @cousre.Category.Name
                </span>
                @if (Model.ShowAction)
                {
                <button data-course-id="@cousre.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                }
            </div>
        </li>
    }
</ul>